
.clock{
    font-size: 120px;
    font-family: "Bebas Neue";
    color: lightslategray;
    text-align: center;

}
.clock2{
    font-size: 120px;
    font-family: "Bebas Neue";
    color: #666;
    text-align: center;

}
